<% provide(:title, "Forgot your password?") %>
<% provide(:body_class, "body-signin") %>
<%= render 'shared/flash' %>

<%= form_for(@user, url: password_reset_path(params[:id]), html: { class: "form-signin" }) do |f| %>
  <a href="/" class="navbar-brand">studywithme.ai</a>
  <h1 class="h3 mb-3 font-weight-normal">Reset your password</h1>
  <%= render 'shared/error_messages' %>

  <%= hidden_field_tag :email, @user.email %>

  <div class="form-label-group">
    <%= f.password_field :password, class: "form-control", placeholder: "Password", autofocus: true %>
    <%= f.label :password %>
  </div>

  <div class="form-label-group">
    <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirmation" %>
    <%= f.label :password_confirmation %>
  </div>

  <%= f.submit "Update password", class: "btn btn-lg btn-primary btn-block" %>
  <p class="mt-5 mb-3 text-muted text-center">© 2019 Koh Zheng Qiang Shawn</p>
<% end %>