<% provide(:title, "Forgot your password?") %>
<% provide(:body_class, "body-signin") %>
<%= render 'shared/flash' %>

<%= form_for(:password_reset, url: password_resets_path, html: { class: "form-signin" }) do |f| %>
  <a href="/" class="navbar-brand">studywithme.ai</a>
  <h1 class="h3 mb-3 font-weight-normal">Reset your password</h1>

  <div class="form-label-group">
    <%= f.email_field :email, class: "form-control", placeholder: "Email", autofocus: true %>
    <%= f.label :email %>
  </div>

  <%= f.submit "Send password reset email", class: "btn btn-lg btn-primary btn-block" %>
  <p class="mt-5 mb-3 text-muted text-center">© 2019 Koh Zheng Qiang Shawn</p>
<% end %>