<% provide(:title, 'All users') %>
<%= render 'layouts/header' %>
<%= render 'shared/flash' %>
<h1>All users</h1>

<%= will_paginate list_classes: %w(pagination justify-content-center) %>
<ul class="users">
  <%= render @users %>
</ul>
<%= will_paginate list_classes: %w(pagination justify-content-center) %>