<%= render 'layouts/header' %>
<%= render 'shared/flash' %>
<% provide(:title, "#{@user.username} (#{@user.name})") %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
        <%= @user.username %>
        <%= @user.email %>
        <%= "Email is not verified" unless @user.activated? %>
      </h1>
    </section>
  </aside>
</div>